<style>
  .help-sidebar h3, h4, h5 {
    font-weight: bold;
    text-decoration: underline;
  }
</style>

<div class="row">
  <div class="col-sm-12 help-sidebar">
    <h3 class="control-sidebar-heading">Dashboard Help</h3>
    <p>
      The dashboard is where you can configure the look and feel of your embedded map.
      This is also the place to get a sharable link, embed code, and configure
      keep-out coordinates.
    </p>
    <br >
    
    <h4>The Map</h4>
    <p>
      The map at the top of the Dashboard is an exact copy of the map that will be displayed
      via the embed code or shareable link. Use the two slider controls to adjust the date
      range of displayed data. Your breadcrumb trail is overlayed on top of a Google Map. You
      can zoom in and out using the mouse scroll wheel or the zoom button at the lower right
      hand corner of the map.
    </p>
    <br>
    
    <h4>Privacy Settings</h4>
    <p>
      By default your map is private and not shareable. To enable sharing of map data, check the
      <b>Make Data Public</b> checkbox. This will enable the two text boxes with the links you'll
      need to share your map. If the box is unchecked, people will not able able to access the map,
      even if they have copies of the shareable link or the emebed code.
    </p>
    
    <h5>Embed Code</h5>
    <p>
      If you have a blog or other website where you want to embed a copy of your map, simply copy
      and paste the iframe code in this box into the HTML of your page. This will render a copy
      of the map on your web page that looks just like the map at top of the dashboard.
    </p>
    
    <h5>Shareable Link</h5>
    <p>
      If you do not have a web page, but still want to share you map via Email or social media,
      you can copy and paste this link and people will still be able to access a page on this site
      to view your map.
    </p>
    
    <h4>Keep Out Coordinates</h4>
    <p>
      Keep out coordinates provide another level of privacy. You can add GPS coordinates of a location,
      along with a radius <u>in feet</u>, and any data points that fall within that radius will be
      deleted from your data files. This protects you from divulging sensitive locations like your home,
      parking space, or moorage slip.
    </p>
    <p>
      You can retrieve the GPS coordinates for a location by using 
      <a href="http://maps.google.com" target="_blank">Google Maps</a>. Double clicking on a location
      will center the map on that location and the GPS coordinates for that location will appear in the
      the URL bar. The first number is the latitude. The second number is the longitude.
    </p>
  </div>
</div>