<style>
  .help-sidebar h3, h4, h5 {
    font-weight: bold;
    text-decoration: underline;
  }
</style>

<div class="row">
  <div class="col-sm-12 help-sidebar">
    <h3 class="control-sidebar-heading">Data Files Help</h3>
    <p>
      The Data Files area allows you to manage all the breadcrumb trail data files associated with
      your account. When your RPi-Tracker uploads data, it will show up here. You can also manually
      upload data. Clicking on an entry in the Data File Library will bring up a Google Map with
      data for that day only.
    </p>
    <br>
    
    <h4>Manual Upload</h4>
    <p>
      If you have trouble getting your RPi-Tracker to connect to the internet, you can manually
      download data from the device and then upload it by clicking on the <b>Upload Log File</b>
      button.
    </p>
    <br>
    
    <h4>Data File Library</h4>
    <p>
      When data is uploaded to the server, it gets separated into GeoJSON data files. One file is
      created per day. Clicking on the entry in the first column will bring up a Google Map of
      data contained in that day's data file.
    </p>
    <p>
      You can also download or delete daily data files. Select the file format from the drop-down
      list and click the download button to download that data. You can also delete daily data files
      from your data library.
    </p>
  </div>
</div>