<style>
  .help-sidebar h3, h4, h5 {
    font-weight: bold;
    text-decoration: underline;
  }
</style>

<div class="row">
  <div class="col-sm-12">
    <h3 class="control-sidebar-heading">Profile Help</h3>
    <p>
      The Profile area is where you can change your user settings. You can also turn your public
      profile on or off and edit your about area.
    </p>
    <br>
    
    <h4>User Settings</h4>
    <p>
      The user settings area allows you to change your name, email/login, and password. You can
      also upload an avatar image.
    </p>
    <br>
    
    <h4>Public Profile</h4>
    <p>
      Checking or unchecking the <b>Public Profile Page</b> checkbox will turn your public profile
      on or off. If check the box, it will automatically check the <b>Make Data Public</b> checkbox
      on the Dashboard page. This will create a public profile page for you on CrumbShare.com and
      populate it with your map and <i>about</i> description.
    </p>
  </div>
</div>