


<section>
  <div class="container">
    <div class="row" id="profileRow" hidden>
      <div class="col-md-2">
        <img class="img-responsive center-block profileImage" src="" />
        <br>
      </div>

      <div class="col-md-8">
        <p class="profileAbout"></p>
      </div>

      <div class="col-md-2 text-center">
        <a class="btn btn-primary profileBtn" href="#/">View Profile</a>
        <br>
      </div>

      <div class="col-xs-12 hidden-lg hidden-md">
        <hr>
      </div>
      
    </div>
  </div>

</section>

<script type="text/javascript">

  // Wait until the DOM has loaded before querying the document
  $(document).ready(function() {
    //debugger;

    $.get('/api/users/list', '', function(data) {
      //debugger;   

      //Loop through all the user entries.
      for(var i=0; i < data.user.length; i++) {
        //Only list profiles that have the publicProfile flag set to true.
        if(data.user[i].publicProfile) {
          var userData = data.user[i];
          var tempRow = $('#profileRow').clone(); //Clone the profile row example.

          tempRow.attr('id', 'profileRow'+userData._id);

          tempRow.find('.profileImage').attr('src', userData.avatarUrl);

          tempRow.find('.profileAbout').text(userData.about);

          tempRow.find('.profileBtn').attr('href', "/userprofile/"+userData._id);

          $('#profileRow').parent().append(tempRow);
          tempRow.prop('hidden', false); //Show the new row.
        }
      }

    });

  });


</script>