<!--
<script type="text/javascript">
  window.location = "/keystone/signin";
</script>
-->


<style>
  /* Using Handlebars template language, you can insert HTML and styling */
  .features .glyphicon {
    font-size: 32px;
  }

  .row {
    margin-bottom: 20px;
  }

  .quote {
    background-color: #444;
    color: #e1e1e1;
  }
  .quote blockquote {
    border: none;
    margin: 0;
  }
  .quote footer {
    color: #c1c1c1;
  }
  section, header {
    background-color: #fff;
  }
  body {

  }
  .footer {
    padding: 20px 0;
  }


  #demo-nav {
    display: none;
  }

  .show-nav #demo-nav {
    display: block;
  }
</style>

<section>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12">
        <p>This is the test page.</p>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    $(document).ready(function() {
      debugger;
      
      var obj = new Object();
      obj.email = "chris.troutner@gmail.com";
      obj.subject = "Test Email";
      obj.body = "This is a test email sent with mailgun.";
      
      $.get('/api/email/test', obj, function(data) {
        debugger;
      });
    });
  </script>
</section>

